.head_wrapper{
    width: 100%;
    height: 54px;
    /* border: 1px solid black; */
}
.co_head{
    width: 84%;
    height:54px;
    /* background-color: yellow; */
    margin: auto;
    display :flex;
    justify-content: space-between;
}
.co_head> .company_logo{
    width:50%;
    /* border: 1px solid blue; */
    /* background-color:red; */
}
.co_head> .company_logo img{
    width:20%;
    height:54px;
    /* border: 1px solid blue; */
    
    
}
.user_det p{
    padding-right: 30px;
    /* border: 1px solid red; */

}
.user_opt{
    width: 9%;
    height:150px;
    /* border: 1px solid red; */
    display: none;
    position: absolute;
    top:40px;
    left:81%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color:white; 
}
.user_det:hover .user_opt{
    display: block;
}
.user_opt .icons{
    width: 17px;
    height: 15px;
    
    /* margin-top: 10px; */
}